body {
  border: white;
  border-style: dashed;
  margin: 0;
}

/* BASE TYPES */

a {
  font-family: inherit;
  text-decoration: none;
  color: black;
}

p, a {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.framed-link {
  display: block;
  color: white;
  background: black;
  padding: 5px;
  width: max-content;
  margin-right: 5px;
}

/*** STRUCTURE ***/

#home {
  display: flex;
  justify-content: center;
  margin: 45px 150px 25px 150px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  max-height: 100vh
}

.left-panel .top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-panel .top .connect {
  display: flex;
  margin-bottom: 30px;
  width: 100%
}

.left-panel .connect .framed-link {
  flex: 1;
  text-align: right;
}

.left-panel .top .logo-wrap {
  vertical-align: top;
}

.left-panel .top .logo-wrap img {
  width: 245px;
}

.left-panel .top .description {
  margin-top: 18px;
  width: 240px;
  text-align: justify;
  font-size: 15px !important;
}

.left-panel .bottom .futurepost-wrap {
  display: flex;
  justify-content: center;
}

.left-panel .bottom .futurepost {
  max-width: 240px;
}

.right-panel {
  margin-left: 10vh;
}

.right-panel .listings {
  display: flex;
  flex-direction: column;
}

.right-panel .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.right-panel .row div {
  display: flex;
  flex-direction: column;
}

.right-panel .entry {
  padding: 0 15px 10px 15px;
}

.right-panel .entry img {
  width: 145px;
  height: 218px;
}

.right-panel .entry img.border {
  padding: 1px;
  border: 1px solid darkolivegreen;
  box-sizing: border-box
}

.right-panel .entry img.contrast {
  filter: contrast(120%);
}

.right-panel .entry .title {
  margin-block-end: 0em;
}

.right-panel .entry .date {
  margin-block-start: .5em;
  margin-block-end: 1em;
}