@import url(//db.onlinewebfonts.com/c/736cf5b08b01082a3645e14038868e20?family=Krungthep);
@font-face {
  font-family: "Krungthep";
  src: url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/736cf5b08b01082a3645e14038868e20.ttf") format("truetype"),
}

body {
  border: white;
  border-style: dashed;
  margin: 0px;
}

/* BASE TYPES */

a {
  font-family: inherit;
  text-decoration: none;
  color: black;
}

p, a {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.framed-link {
  display: block;
  color: white;
  background: black;
  padding: 5px;
  width: max-content;
  margin-right: 5px;
}

/*** STRUCTURE ***/

#home-wrap {
  margin: 5vh 8vw 0;
}

#home {
  display: flex;
}

.banner {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-bottom: 4vh;
  width: 50px;
  margin-right: 30px;
}

.banner p {
  font-size: 80px;
  font-weight: 600;
}

.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 100vh;
}

.left-panel .top {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.left-panel .top .connect {
  display: flex;
  margin-bottom: 30px;
  width: 100%
}

.left-panel .connect .framed-link {
  flex: 1;
  text-align: left;
  font-family: "Krungthep", Arial, sans-serif;
  font-size: 12px;
}

.left-panel .top .logo-wrap {
  vertical-align: top;
}

.left-panel .top .description {
  margin: 1.5vh 0;
  width: 18vw;
  max-width: 280px;
  min-width: 200px;
  text-align: left;
}

.left-panel .bottom .futurepost-wrap {
  display: flex;
  justify-content: center;
}

.left-panel .bottom .futurepost, 
.left-panel .top .logo-wrap img {
  width: 18vw;
  height: 18vw;
  max-width: 280px;
  max-height: 280px;
  min-width: 200px;
  min-height: 200px;
}

.right-panel {
  margin-left: 7.5vw;
}

.right-panel .listings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.right-panel .listings div {
  display: flex;
  flex-direction: column;
}

.right-panel .entry {
  padding: 0 1.25vw 1.5vw;
}

.right-panel .entry img {
  min-width: 119px;
  width: 15.166vw;
  max-width: 200px;
  min-height: 178px;
  height: 22vw;
  max-height: 300px;
}

.right-panel .entry img.border {
  padding: 1px;
  border: 1px solid purple;
  box-sizing: border-box
}

.right-panel .entry img.high-contrast {
  filter: contrast(120%);
}

.right-panel .entry img.low-contrast {
  filter: contrast(80%);
}

.right-panel .framed-link {
  margin-right: 0px !important;
}

.right-panel .entry .title {
  margin-block-end: 0em;
  width: calc(100% - 10px);
  text-align: center;
}

.right-panel .entry .date {
  margin-block-start: .5em;
  margin-block-end: 1em;
  min-width: 119px;
  width: 100%;
  max-width: 200px;
  text-align: center;
}

/* Tablet */
@media only screen and (max-device-width: 900px) {
  #home-wrap {
    margin: 3vw 3vh;
  }
  p, a, span {
    font-size: 32px;
  }
  .right-panel .entry img {
    max-width: 100%;
    max-height: 100%;
    width: 290px;
    height: 436px;
  }
  .right-panel .listings {
    justify-content: center;
  }
  .entry > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Mobile */
@media only screen and (max-device-width: 480px) {
  #home-wrap {
    margin: 3vw 3vh;
  }
  p, a, span {
    font-size: 32px;
  }
  .left-panel {
    min-width: 35%;
  }
  .left-panel .top,
  .left-panel .bottom {
    width: 100%
  }
  .left-panel img,
  .left-panel .description {
    width: 100% !important;
    height: auto !important;
    max-width: 300px !important;
  }
  .left-panel .connect .framed-link {
    font-size: 20px;
  }
  .right-panel .entry img {
    max-width: 100%;
    max-height: 100%;
    width: 290px;
    height: 436px;
  }
  .right-panel .listings {
    justify-content: center;
  }
  .entry > a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
